.row
  .small-12.medium-9.columns
    .row
      .small-12.columns
        %h1= @document['blog.title'].value
      .small-12.columns
        %h6.subheader= @document['blog.date'].value.strftime("%B %d, %Y")
      .small-12.columms
        %img{'data-interchange' => "[#{@document['blog.image'].views['mobile'].url}, (default)], [#{@document['blog.image'].views['tablet'].url}, (medium)],[#{@document['blog.image'].main.url}, (large)]"}
      .small-12.columns
        = @document['blog.body'].as_html_safe(link_resolver)

  .small-12.medium-3.columns
    = render 'application/about_us'